In [1]:
#import pandas
import pandas as pd

In [2]:
#import schools csv
file_one = "raw_data/schools_complete.csv"

In [3]:
#set file_one_df equal to the file path for the schools csv
file_one_df = pd.read_csv(file_one)

In [4]:
#check to make sure that the first file loaded properly
file_one_df.head()

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
#set the file path for the second csv
file_two = "raw_data/students_complete.csv"

In [6]:
#set a variable equal to the read csv
file_two_df = pd.read_csv(file_two)

In [7]:
#make sure this path is working too
file_two_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [8]:
#find the total number of schools
total_schools = len(file_one_df["name"].unique())

In [9]:
#check the total_schools
print(total_schools)

15

In [10]:
#find the total number of students
total_students = len(file_two_df["Student ID"].unique())

In [11]:
print(total_students)

39170

In [12]:
#find the total budget
total_budget = file_one_df["budget"].sum()
#use a print statement to avoid the L popping up in formatting to display a literal
print(total_budget)

24649428

In [13]:
#average math score
avg_math = file_two_df["math_score"].sum() / total_students
print(str(avg_math) + "%")

78.98537145774827%

In [14]:
#average reading score
avg_read = file_two_df["reading_score"].sum() / total_students
print(str(avg_read) + "%")

81.87784018381414%

In [15]:
pd.options.display.precision = 0

In [18]:
# find percentage passing math
passing_math = file_two_df.loc[file_two_df["math_score"] > 60, ["Student ID", "name", "gender", "grade", "school","math_score"]]
passing_math.head()
total_passing_math = len(passing_math["Student ID"].unique())
total = len(file_two_df["Student ID"].unique())
print(str(total_passing_math) + "/" + str(total) + "=" + str(float(total_passing_math) / float(total) * 100) + "%")

35608/39170=90.90630584631096%

In [21]:
# find percentage passing reading
passing_reading = file_two_df.loc[file_two_df["reading_score"] > 60, ["Student ID", "name", "gender", "grade", "school","reading_score"]]
passing_reading.head()
#total_passing_reading = len(passing_reading["Student ID"].unique())
# total = len(file_two_df["Student ID"].unique())
# print(str(total_passing_reading) + "/" + str(total) + "=" + str(float(total_passing_reading) / float(total) * 100) + "%")

   Student ID               name gender grade             school  math_score
0           0       Paul Bradley      M   9th  Huang High School          79
1           1       Victor Smith      M  12th  Huang High School          61
2           2    Kevin Rodriguez      M  12th  Huang High School          60
3           3  Dr. Richard Scott      M  12th  Huang High School          58
4           4         Bonnie Ray      F   9th  Huang High School          84